body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin-inline: auto;
}

.header {
  padding: 20px;
  font-size: 20px;
  background-color: #444445;
  color: #ffffff;
}

.header__menu {
  display: flex;
  justify-content: space-around;
}

.header__menu-link {
  color: #ffffff;
  text-decoration: none;
}

.main__row {
  display: flex;
}

.main__column-left {
  position: relative;
  padding: 200px 40px 60px;
  background-color: #444445;
  color: #ffffff;
}

.profile {
  padding: 0 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile__image-wrapper {
  position: relative;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.profile__image {
  height: 100%;
  object-fit: cover;
}

h1,
h2 {
  text-transform: uppercase;
  line-height: 1.2;
}

.profile__position {
  font-size: 20px;
}

.title {
  position: relative;
  padding-bottom: 4px;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #ffffff;
}

.contacts,
.skills {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.contacts:not(:last-child),
.skills:not(:last-child) {
  padding-bottom: 28px;
}

.contacts__list,
.skills__list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.contacts__link {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #ffffff;
  text-decoration: none;
}

.contacts__icon {
  filter: invert(1);
}

.skills__item {
  display: flex;
  align-items: center;
}

.skills__item::before {
  content: '';
  width: 4px;
  aspect-ratio: 1;
  margin-inline: 6px;
  background-color: #ffffff;
  border-radius: 50%;
}
